.chart-legend {
    -fx-background-color: transparent;
    -fx-hgap: 40px;
}

.bar-chart {
    -fx-category-gap: 50;
    -fx-bar-gap: 4;
}

.default-color0.chart-bar {
    -fx-background-color: "#06d6a0";
}

.default-color1.chart-bar {
    -fx-background-color: "#ffd166";
}

.default-color2.chart-bar {
    -fx-background-color: "#ef476f";
}





