.chart-legend {
    -fx-background-color: transparent;
    -fx-hgap: 40px;
}

.default-color0.chart-bar { -fx-background-color: "#ef476f"; }
.default-color1.chart-bar { -fx-background-color: "#ffd166"; }
.default-color2.chart-bar { -fx-background-color: "#06d6a0"; }
